@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-blink {
    animation: blink 1.4s infinite both;
  }
}

@keyframes blink {
  0% { opacity: .2; }
  20% { opacity: 1; }
  100% { opacity: .2; }
}
